[Desktop Entry]
Name=SKlauncher
Comment=A custom Minecraft launcher
Exec=/usr/bin/sklauncher
Icon=sklauncher
Terminal=false
Type=Application
StartupWMClass=pl.skmedix.sklauncher
Categories=Game;