[Desktop Entry]
Name=SKlauncher
Comment=A custom Minecraft launcher
Exec=/usr/bin/sklauncher %U
Icon=sklauncher
Terminal=false
Type=Application
Categories=Game;